<div class="container">
    <section class="display-items">
        <div>
            <div class="mb-8 table_component" role="region" tabindex="0">
                <table>
                    <div class="flex justify-between items-center mb-8 px-8">
                        <h2>Items</h2>
                        <a href="/items/new" role="button" class="block anchorBtn bgBlue">Add Item</a>
                    </div>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(item=> { %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <img src="<%= item.img.secure_url %>" alt="product image" class="td-img">
                                </td>
                                <td>
                                    <%= item.description%>
                                </td>
                                <td>
                                    <a class="text-blue-400" href="/categories/category/<%= item.category.id %>">
                                        <%= item.category.name %>
                                    </a>
                                </td>
                                <td>$<%= item.price %>
                                </td>
                                <td>
                                    <%= item.numberInStock %>
                                </td>
                                <td class="btnsTd">
                                    <a role="button" class="anchorBtn bgYellow" href="<%= item.url %>">View</a>
                                    <a role="button" class="anchorBtn bgBlue" href="<%= item.url %>/update">Edit</a>
                                    <a role="button" class="anchorBtn bgRed" href="<%= item.url %>/delete">Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <a href="/items/new" role="button" class="block mx-auto anchorBtn bgBlue">Add Item</a>
        </div>
    </section>
</div>